.book-container {
    width: 300px;
    height: 400px;
    background-color: cornflowerblue;
    margin: 1rem;
    overflow: hidden;
    display: inline-block;
}

.book-title {
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    padding-top: 2rem;
    padding-left: 1rem;
}

.book-details {
    font-size: large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    margin: 1rem;
    text-align: left;
}